@using Inforce.Authorization

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, it's my URL-Shortening application</h1>

    <h3>How to shorten your link:</h3>
    <h4>
        1-Enter the Shortener page.
        2-Press 'Add new URL' button.
        3-Paste your long URL (which starts with 'https://') and press 'Create'.
    </h4>
</div>
